<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-body">
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					<input type="text" id="username" class="form-control" value=<%= nombre %>>
				</div>
			    <div class="form-group input-group">
			    	<div class="input-group-prepend">
					    <span class="input-group-text"> <i class="fa fa-money-check"></i></span>
					</div>
					<select id="typeAccount" class="custom-select">
						<% for(var i=0; i<type.length; i++) {%>
					    	<option value="<%= type[i] %>"><%= type[i].name %></option>
					    <% } %>
					</select>
			    </div>				
				<div class="form-group">
					<input type="button" id="btn" value="Actualizar" class="btn float-right btn-outline-purple">
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('#btn').click(function(){
	$.ajax({
		url: `/user/${$('#userId').val()}`,
		data:{'plan': $('#typeAccount').val(), 'name': $('#username').val()},
		method: 'PUT',
		success:function(){
			$('#popup-profile').dialog("close");
			socket.emit('profileUpdate', {clientID: $('#clientID').val()});
		}
	});
});
</script>